# Ignore node modules (both frontend and backend)
backend/node_modules/
frontend/node_modules/

# Ignore environment files
backend/.env
frontend/.env

# Logs
*.log

# Build folders (React build output)
frontend/build/

# System files
.DS_Store
Thumbs.db
